* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
}

html {
    overflow-x: hidden;
}

/* SCENE ONE */

.stage-one {
    background-color: #222;
}

.stage {
    height: 1000vh;
}

.header-container {
    padding-top: 300px;
    background-color: #222;
}

.header,
.header-alt-1,
.header-alt-2,
.header-alt-3,
.header-alt-4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    position: relative;
    text-align: center;
    font-size: 3rem;
}

.header-sub {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    opacity: 0.1;
    font-size: 1.3rem;
    position: absolute;
    left: 50%;
    top: 115%;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header-alt-1,
.header-alt-2,
.header-alt-3,
.header-alt-4 {
    text-align: left;
    position: absolute;
    opacity: 0;
    left: 65%;
    transform: translateX(-50%);
    width: 400px;
}

.line {
    background-color: white;
    height: 3px;
    display: inline-block;
    width: 400px;
    opacity: 0.2;
    position: absolute;
    border-radius: 30px;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-container {
    opacity: 0;
    color: white;
    position: absolute;
    left: 0;
}

.quote {
    font-size: 1.8rem;
    line-height: 3;
    position: relative;
    width: 70vw;
}

.quote-one::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
}

.author {
    font-size: 1.3rem;
    display: block;
    text-align: right;
    opacity: 0.4;
}

/* SCENE TWO */

.stage-two {
    margin-top: 800px;
    background-color: white;
    padding-top: 500px;
    padding-bottom: 500px;
}

.squares {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
}

.stage-two-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    text-align: center;
}

.stage-two-header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
}

.stage-two-header p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}
