@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.monospace {
    font-family: "Courier New", Courier, monospace;
}

html {
    overflow-x: hidden;
}

body {
    min-height: 850px;
    min-width: 1750px;
}

/* SCENE ONE */

.stage-one {
    background-color: #222;
}

.stage {
    height: 1000vh;
}

.header-container {
    padding-top: 300px;
    background-color: #222;
}

.header,
.header-alt-1,
.header-alt-2,
.header-alt-3,
.header-alt-4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    position: relative;
    text-align: center;
    font-size: 3rem;
}

.header-sub {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: white;
    opacity: 0.1;
    font-size: 1.3rem;
    position: absolute;
    left: 50%;
    top: 115%;
    text-transform: uppercase;
    text-align: center;
    transform: translate(-50%, -50%);
}

.header-alt-1,
.header-alt-2,
.header-alt-3,
.header-alt-4 {
    text-align: left;
    position: absolute;
    opacity: 0;
    left: 65%;
    transform: translateX(-50%);
    width: 400px;
}

.line {
    background-color: white;
    height: 3px;
    display: inline-block;
    width: 400px;
    opacity: 0.2;
    position: absolute;
    border-radius: 30px;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-container {
    opacity: 0;
    color: white;
    position: absolute;
    left: 0;
}

.quote {
    font-size: 1.8rem;
    line-height: 3;
    position: relative;
    width: 70vw;
}

.quote-one::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
}

.author {
    font-size: 1.3rem;
    display: block;
    text-align: right;
    opacity: 0.4;
}

/* SCENE TWO */

.stage-two {
    margin-top: 800px;
    background-color: white;
    padding-top: 500px;
    padding-bottom: 500px;
}

.squares {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

.stage-two-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    text-align: center;
}

.stage-two-header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
}

.stage-two-header p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

.mind-body-chart {
    position: absolute;
    left: 45.75%;
    top: 100%;
    transform: translate(-42%, -55%) scale(0.8);
}

.mind-body-chart-lineone,
.mind-body-chart-linetwo,
.mind-body-chart-linethree,
.mind-body-chart-linefour,
.mind-body-chart-circleone,
.mind-body-chart-circletwo,
.mind-body-chart-circlethree {
    opacity: 0;
    transform-origin: 50% 50%;
}

.mind-body-chart-lineone {
    stroke-dashoffset: 195;
    stroke-dasharray: 195;
}

.mind-body-chart-linetwo {
    stroke-dashoffset: 174.2;
    stroke-dasharray: 174.2;
}

.mind-body-chart-linethree {
    stroke-dashoffset: 175.5;
    stroke-dasharray: 175.5;
}

.mind-body-chart-linefour {
    stroke-dashoffset: 145;
    stroke-dasharray: 145;
}

.mind-body-chart-circleone,
.mind-body-chart-circletwo,
.mind-body-chart-circlethree,
.wisdom-circleone,
.wisdom-circletwo {
    stroke-dasharray: 113;
    stroke-dashoffset: 113;
}

.mind-body-interp {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    width: 500px;
    font-size: 1.1rem;
    line-height: 1.5;
    position: absolute;
    opacity: 0;
}

.mind-body-descartes {
    left: 68%;
    transform: translate(-50%, -180%);
}

.mind-body-bacon {
    left: 25%;
    transform: translate(-50%, -20%);
}

.mind-body-pascal {
    left: 68%;
    transform: translate(-50%, 125%);
}

.mind-body-concl {
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    transform: translate(-50%, 1380%);
    left: 50%;
    opacity: 0;
    transform-origin: 50% 50%;
}

.mind-body-concl-two {
    opacity: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    transform: translateY(-30px);
}

/* SCENE THREE */

.stage-three {
    margin-top: 40px;
    background-color: #222;
    padding-top: 500px;
    padding-bottom: 500px;
}

.stage-three-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    text-align: center;
}

.stage-three-header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: white;
}

.wisdom-line {
    stroke-dasharray: 633;
    stroke-dashoffset: 633;
}

.wisdom-job {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 90%);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    width: 600px;
    line-height: 1.5;
    opacity: 0;
}

.wisdom-proverbs {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 340%);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    width: 600px;
    line-height: 1.5;
    opacity: 0;
    text-align: center;
}

.wisdom-definition {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: white;
    width: 600px;
    line-height: 1.6;
    opacity: 0;
    width: 850px;
    text-align: center;
}

.wisdom-chart {
    position: absolute;
    left: 50%;
    transform: translateY(-120px);
    opacity: 0;
}

.wisdom-lineone {
    stroke-dasharray: 179;
    stroke-dashoffset: 179;
}

/* STAGE FOUR */

.stage-four {
    background-color: white;
    padding-top: 500px;
    padding-bottom: 500px;
}

.stage-four h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    width: 750px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -90%);
    text-align: center;
}

.app-desc1,
.app-desc2,
.app-desc3,
.app-desc4 {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    width: 750px;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%, 20%);
    text-align: center;
    opacity: 0;
}

.app-book-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    margin-top: 100px;
}

.app-b1,
.app-b2,
.app-b3 {
    transform: translateY(50px);
}

.app-b4,
.app-b5,
.app-b6 {
    position: absolute;
}

.app-book {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 7px;
    text-align: center;
    opacity: 0;
}
